* {
  margin: 0px;
  margin-left: 15px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}

.container {
  position: relative;
  /* width: 800px; */
  min-width: 400px;
  max-width: 900px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
  text-align: center;
}

nav a:link {
  display: inline-block;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 20px;
}

nav a:link:last-child {
  margin-right: 0;
}

.post-header {
  margin-bottom: 20px;
}

/* h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
  color: #444444;
} */

h1,
h2,
h3 {
  color: #1098ad;
  color: #19ad97;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #19ad97;
}

h2 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  padding: 20px;
  /* padding-top: 20px; */
  /* collapsing margin from  .header */
  /* margin-top: 20px; */
}

h2::after {
  content: "top";
  background-color: #ffe70e;
  color: #444;
  font-size: 1rem;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid black;
  font-weight: lighter;
  position: absolute;
  top: 0px;
  right: 0px;
  /* top: -15px; */
  /* right: -10px; */
}

h3 {
  font-size: 26px;
  margin-bottom: 30px;
}

h4 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */
#copyright {
  font-size: 16px;
}

.row {
  color: red;
}

#author {
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

aside {
  padding: 50px 0px;
  background-color: #f7f7f7;
  border-top: 5px solid #19ad97;
  border-bottom: 5px solid #19ad97;
  width: 75%;
  /* border-radius: 10px; */
  /* margin-left: 20px; */
}

li:first-child {
  font-weight: bold;
}

a:link {
  color: blueviolet;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline wavy blue;
}

a:active {
  background-color: aquamarine;
  font-style: oblique;
}

.img-post {
  width: 100%;
  height: auto;
}

.like-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* width: 100px;
  height: 50px; */
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
